In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('D://statcast//savant2018.csv')

In [3]:
data.head()

,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,description,...,home_score,away_score,bat_score,fld_score,post_away_score,post_home_score,post_bat_score,post_fld_score,if_fielding_alignment,of_fielding_alignment
0,SI,2018-03-29,96.7,-1.3857,6.1136,Jeurys Familia,657557.0,544727.0,field_out,hit_into_play,...,9.0,4.0,4.0,9.0,4.0,9.0,4.0,9.0,Standard,Standard
1,SI,2018-03-29,96.0,-1.3302,6.1877,Jeurys Familia,657557.0,544727.0,NaN,blocked_ball,...,9.0,4.0,4.0,9.0,4.0,9.0,4.0,9.0,Standard,Standard
2,FF,2018-03-29,98.1,-1.3381,5.9711,Jeurys Familia,425877.0,544727.0,walk,ball,...,9.0,4.0,4.0,9.0,4.0,9.0,4.0,9.0,Strategic,Standard
3,FF,2018-03-29,97.4,-1.1546,5.9254,Jeurys Familia,425877.0,544727.0,NaN,ball,...,9.0,4.0,4.0,9.0,4.0,9.0,4.0,9.0,Standard,Standard
4,FF,2018-03-29,97.1,-1.1802,6.0784,Jeurys Familia,425877.0,544727.0,NaN,ball,...,9.0,4.0,4.0,9.0,4.0,9.0,4.0,9.0,Standard,Standard

In [70]:
count = data.groupby('player_name').agg({'release_speed':'count'})

In [71]:
count.head()

              release_speed
player_name
A.J. Cole               875
A.J. Minter            1080
AJ Ramos                358
Aaron Brooks             42
Aaron Bummer            609

In [72]:
count100 = count[count.release_speed >= 100]

In [73]:
count100.head()

              release_speed
player_name
A.J. Cole               875
A.J. Minter            1080
AJ Ramos                358
Aaron Bummer            609
Aaron Loup              711

In [81]:
name = pd.DataFrame(count100.reset_index()['player_name'])
name.head()

    player_name
0     A.J. Cole
1   A.J. Minter
2      AJ Ramos
3  Aaron Bummer
4    Aaron Loup

In [82]:
speed = data.groupby('player_name').agg({'release_speed':'mean'})
speed_mean = speed.reset_index()

In [86]:
speed.info()

<class 'pandas.core.frame.DataFrame'>
Index: 800 entries, A.J. Cole to Zack Wheeler
Data columns (total 1 columns):
release_speed    799 non-null float64
dtypes: float64(1)
memory usage: 12.5+ KB

In [83]:
speed_mean.head()

    player_name  release_speed
0     A.J. Cole      86.459314
1   A.J. Minter      93.861759
2      AJ Ramos      86.251117
3  Aaron Brooks      86.978571
4  Aaron Bummer      90.451396

In [89]:
speed_mean_name = speed_mean.merge(name, on='player_name', how='inner')

In [91]:
speed_mean_name.sort_values(by='release_speed')

              player_name  release_speed
592         Steven Wright      76.062985
386       Kazuhisa Makita      77.264642
505          Pat Venditte      78.459375
25           Alex Claudio      79.275752
573           Sergio Romo      80.127369
180         Daniel Zamora      80.669620
221        Edward Paredes      81.424409
318         Jerry Blevins      81.619769
651          Wade LeBlanc      81.732038
75           Brad Ziegler      81.745642
568        Sean Gilmartin      81.790769
17        Adam Wainwright      81.880191
91          Brian Johnson      82.334737
641           Tyler Olson      82.529111
307          Jason Vargas      82.613628
681             Zach Duke      82.724315
420           Luis Avilan      82.867840
185          Darren O'Day      82.983735
435         Marco Estrada      83.061345
202           Donnie Hart      83.132190
410        Kyle Hendricks      83.171419
621   Trevor Hildenberger      83.236136
62           Blaine Hardy      83.241155
525             Rich Hill      83.255584
612          Tommy Milone      83.266746
488         Nestor Cortes      83.319444
639           Tyler Lyons      83.381979
138         Chris O'Grady      83.440146
501           P.J. Conlon      83.642222
144     Christian Bergman      83.686000
..                    ...            ...
102           C.D. Pelham      93.466242
256         Hansel Robles      93.500516
48        Arodys Vizcaino      93.588348
638          Tyler Kinley      93.597619
167         Dakota Hudson      93.605543
326         Jimmy Cordero      93.615361
321        Jeurys Familia      93.648876
197        Diego Castillo      93.668981
496      Noah Syndergaard      93.738060
1             A.J. Minter      93.861759
684          Zack Britton      93.875104
626        Trey Wingenter      93.926708
381        Justin Hancock      94.043902
355         Jose Alvarado      94.052363
236        Felipe Vazquez      94.084942
222            Edwin Diaz      94.186593
485            Nate Jones      94.199417
554           Ryne Stanek      94.234968
605         Thyago Vieira      94.272414
416           Lou Trivino      94.305408
269          Ian Hamilton      94.313675
298         James Norwood      94.505286
120            Chad Green      94.892101
572  Seranthony Dominguez      95.089581
65          Blake Treinen      95.173851
596         Tanner Rainey      95.362434
81         Brandon Morrow      95.473361
49        Aroldis Chapman      95.603858
603       Tayron Guerrero      96.202145
349          Jordan Hicks      97.339168

[689 rows x 2 columns]